<% social_meta_info(
  title: "MyApp - About us",
  description: "Our team is the bestest",
  og: {
    title: "About our team",
    image: "https://example.org/assets/full-team.png"
  },
  twitter: {
    title: "About our team",
    image: "https://example.org/assets/full-team.png"
  }
) %>

<h1>About us</h1>
